::-webkit-scrollbar-track{
    background:rgba(0,0,0,.0);
    border-radius:16px
}
::-webkit-scrollbar-thumb{
    background:rgba(86,0,165,1);
    border-radius:16px
}
html,body{
    background-color:#000000
}
body,input,textarea,select,button{
    color:#ccccff
}
.el-loading-mask{
    background-color:rgba(0,0,0,.6)
}
.el-input__inner,.el-textarea__inner,.el-textarea .el-input__count,.el-input .el-input__count .el-input__count-inner{
    color:#ccccff;
    background-color:#000000;
    border:#000000
}
.el-input-group__append,.el-input-group__prepend{
    color:#ccccff;
    background-color:rgb(0, 0, 0);
    border:#5600a5
}
.el-table tr,.el-table td.el-table__cell,.el-table th.el-table__cell{ /*Alternating tables colour (#292929)*/
    background-color:#000000;
    border-bottom:1px solid #5600a5
}
.el-table--border::after,.el-table--group::after,.el-table::before{
    background-color:#5600a5
}
.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell{ /*Alternating tables colour (#202020) THE DArker ones */
    background-color:#000000
}
.el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
    background-color:#5600a5
}
.el-pagination .btn-next,.el-pagination .btn-prev{
    color:#ccccff;
    background-color:#000
}
.el-pagination button:disabled{
    color:#a50000; /*background to DISABLED table buttons*/
    background-color:#000
}
.el-dialog,.el-pager li{
    background-color:#000 /*Oh so you are the user info pop up AND the background to buttons below tables, nice to know*/
}
.el-pager li{
    color:#ccccff
}
.el-table{
    color:#ccccff
}
.el-pagination__total{
    color:#ccccff
}
.el-tag--plain.el-tag--info{
    background-color:#000
}
.el-tag--plain.el-tag--success{
    background-color:#000
}
.el-button{
    color:#ccccff
}
.el-button:not(.el-button--text,.el-button--primary,.is-disabled){
    background-color:#000000;
    border-color:#5600a5
}
.el-button:not(.el-button--text,.el-button--primary,.is-disabled):focus,.el-button:not(.el-button--text,.el-button--primary,.is-disabled):hover{ /* buttons that you HOVER over and they change to gray with black text by default */
    color:#5600a5;
    background-color:#000000;
    border-color:#ccccff
}
.el-button.is-disabled,.el-button.is-disabled:focus,.el-button.is-disabled:hover{ /* buttons you CANT click on (x cursor) */
    color:#ccccff;
    background-color:#000000;
    border-color:#a50000
}
.el-tabs__item{
    color:#ccccff
}
.el-tabs--card>.el-tabs__header{
    border-bottom-color:#000000
}
.el-dropdown-menu{
    background-color:#000000;
    border-color:#5600a5
}
.el-dropdown-menu__item--divided::before{
    background-color:#000000
}
.el-dropdown-menu__item{
    color:#ccccff
}
.el-dropdown-menu__item:focus,.el-dropdown-menu__item:not(.is-disabled):hover{
    color:#5600a5;
    background-color:#000
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
    border-bottom-color:#000
}
.el-popper[x-placement^=bottom] .popper__arrow{
    border-bottom-color:#000000
}
.el-message-box{
    background-color:#000;
    border-color:#5600a5
}
.el-tree{
    color:#ccccff;
    background:#000000
}
.el-menu-item:focus,.el-menu-item:hover{
    background-color:#000000
}
.el-tabs--card>.el-tabs__header .el-tabs__item{
    border-left-color:#000000
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
    border-bottom-color:#ccccff;
    border-left-color:#000000
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
    border-color:#000000
}
.el-collapse-item__header{
    color:#ccccff;
    background-color:inherit;
    border-bottom-color:#5600a5
}
.el-collapse-item__wrap{
    background-color:#000;
    border-bottom-color:#5600a5
}
.el-message-box__title{
    color:#ccccff
}
.el-dialog__title{
    color:#ccccff
}
.el-message-box__content{
    color:#ccccff
}
.el-collapse-item__content{
    color:#000000
}
.el-switch__core{
    background-color:#000000;
    border-color:#5600a5
}
.el-popover{
    background-color:#000;
    border-color:#5600a5
}
.el-popper[x-placement^=right] .popper__arrow::after{
    border-right-color:#000000
}
.el-popper[x-placement^=right] .popper__arrow{
    border-right-color:#000000
}
.el-switch__label{
    color:#ccccff
}
.el-table,.el-table__expanded-cell{
    background-color:inherit
}
.el-tree-node__content:hover{
    background-color:#000000
}
.el-tree-node:focus>.el-tree-node__content{
    background-color:#000
}
.el-select-dropdown{
    background-color:#000000
}
.el-select-dropdown__item{
    color:#ccccff
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{
    background-color:#000000
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover{
    background-color:#000000
}
.el-select-dropdown__item.hover,.el-select-dropdown__item:hover{
    background-color:#5600a5
}
.el-tag.el-tag--info{
    background-color:#000000;
    border-color:#000000
}
.el-table__expanded-cell:hover{
    background-color:#323232 !important
}
.el-dialog__body{
    color:#ccccff
}
.el-radio{
    color:#ccccff
}
.el-radio-button__inner{
    color:#ccccff;
    background:#000000;
    border:1px solid #5600a5
}
.el-radio-button:first-child .el-radio-button__inner{
    border-left:1px solid rgba(0,0,0,0)
}
.el-button{
    color:#ccccff
}
.el-form-item__label{
    color:#ccccff
}
.el-checkbox{
    color:#ccccff
}
.el-input.is-disabled .el-input__inner{
    background-color:#000000
}
.x-app{
    background-color:#000000
}
.x-container{
    background:#000000
}
.x-login-container{
    background-color:#000000
}
.x-aside-container{
    background-color:#000000
}
.x-friend-list>.x-friend-group{
    color:#ccccff
}
.x-friend-item:hover,.x-change-image-item:hover{ /* Friend Hover */
    background:#5600a5
}
.x-friend-item>.avatar.active::after,.x-friend-item>.avatar.online::after,.x-friend-item>.avatar.joinme::after,.x-friend-item>.avatar.askme::after,.x-friend-item>.avatar.busy::after{
    border:2px solid #000
}
.x-friend-item>.detail>.name{
    color:#ccccff
}
.x-friend-item>.detail>.extra{
    color:#ccccff
}
.x-login-container p{
    color:#ccccff
}
